@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;900&display=swap');

* {
	margin: 0;
	padding: 0;
}

main {
    font-family: 'Nunito', sans-serif;
}


/* NAVEGACION */


.logo{
    position: absolute;
    margin-top: -45px;
    width: 140px;
}

.navbar-nav {
    position: relative;
    top: 25px;
    width: 100%;
    z-index: 1;
    right: 10px;
    justify-content: center;
}

.nav-item {
    margin-right: 10px;
    margin-left: 0;
}

.nav-link{
    color: rgb(26, 26, 26);
    overflow: hidden;
}

.nav-link:hover{
    color: rgb(15, 15, 15);
}


.carrito {
    position: absolute;
    width: 23px;
    top: 15px;
    right: 20px;
}

.nav-container{
    background-color: rgb(252, 252, 252);
    position: absolute;
    top: -100;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 2;
    transition: opacity 3s;
}

.nav-container:hover{
    height: 110px;
    opacity: 1;
    box-shadow: 0px 0px 7px rgba(190, 190, 190, 3);
}


.navbar-toggler {
    border: none;
    background-color: transparent;
    box-shadow: none;
}


@media screen and (max-width: 991px) {
    .navbar-nav {
        justify-content: start;
    }

    .navbar-toggler {    
        position: absolute;
        top: 15px;
        left: 10px; 
    }

    .navbar-toggler:hover {
        display: block; 
    }
      
    .navbar-nav {
        position: static;
        justify-content: left;
    }

    .nav-item {
        margin-left: 30px;
        background-color: #fff;
    }

    .logo {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 70px;
        width: 100%;
        background-color: white;
        z-index: 1;
    }

    .nav-container{
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: -100;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 2;
        transition: opacity 1s;
    }
    
    .nav-container:hover{
        height: 70px;
        opacity: 1;
    }
    
    .ContainerEstatico {
        background-color: rgb(252, 252, 252);
        position: absolute;
        top: -100;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 2;
        transition: opacity 3s;
        height: 110px;
        opacity: 1;
        box-shadow: 0px 0px 10px rgba(14, 11, 44, 0.2);;
    }
}

.Titulopackdemuebles{
    margin-top: 140px;
}

.ContainerEstatico {
    background-color: rgb(252, 252, 252);
    position: absolute;
    top: -100;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 2;
    transition: opacity 3s;
    height: 110px;
    opacity: 1;
    box-shadow: 0px 0px 10px rgba(14, 11, 44, 0.2);;
}



/* SLIDER */

.carousel{
    position: relative;
    z-index: 0;
}

.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    box-shadow: 218px 10px 10px rgba(0, 0, 0, 30);
}

@media screen and (max-width: 991px) {
    .carousel-item img {
        height: 430px;}
}

/* PACK DE PRODUCTOS */

.Titulopackdemuebles{
    text-align: center;
}

.textopack{
    text-align: center;
}

.contenedor-pack {
    margin-top: 10px;
    overflow: hidden;
    height: 100%; 
    transition: all 0.3s ease-in-out;
    display: flex; 
    align-items: center; 
}

.contenedor-pack:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 991px) {
    .Titulopackdemuebles{
        text-align: center;
        font-size: 25px;
    }
    
    .textopack{
        text-align: center;
        font-size: 13px;
        text-align: center;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: -5px;
    }    
}

/* PRODUCTO EN STOCK */

.Titulostock{
    margin-bottom: -20px;
}

.ProductosEnStock {
    box-shadow: 0px 0px 10px rgba(219, 219, 219, 0.4); 
    padding: 15px; 
    margin-top: 50px;
}

.card-img-top{
    margin: 30px;
    width: 75%;
    object-fit: cover;
}

.card-body{
    text-align: start;
}

.row {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  

.card {
    margin-top: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 5px rgba(190, 190, 190, 0.4); 
    height: 100%;
}

.contenedor-card {
    margin-bottom: 30px;
}

.contenedor-card:hover {
    transform: scale(1.01);
}

.no-gutters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.card-subtitle{
    color: rgb(185, 30, 30);
}

/* ------- SERVICIO AL CLIENTE -------- */

.preguntas{
    background-color: #faa888;
}

.botones{
    background-color: #faa888;
    border-color: #FFC787;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:10px;
    color: black;
    box-shadow: -7px 7px 30px rgba(0, 0, 0, 0.3);
}

.btn-hover:hover{
    background-color: #f0b3aa;
}

.pie{
    background-color: #fcf0ec;
    border-color:black;
}

.pie1{
    background-color: #3e465f;
}

.pie3{
    background-color: #ffcd43;
}

.iconos-redes{
    font-size: 40px;
    color:black;
}

/* ---------- ¿QUIENES SOMOS? --------- */

.sliderhistoria {
    color: #ffffff; 
    font-size: 22px;
    font-family: nunito;
    font-weight:500 ;
    text-align: start;
    text-shadow: 3px 3px 3px rgba(0,0,0,1);
}

.tituloslider{
    font-size: 25px;
    font-weight: bold;
}

.Franco, .Daia, .Santiago, .Ivan {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 50px;
    object-fit: cover;
}

.NombreFranco {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.descripcion {
    font-size: 18px;
    margin-top: 10px;
}

@media screen and (max-width: 1115px) {
    .sliderhistoria {
        color: #ffffff; 
        font-size: 19px;
        font-family: nunito;
        font-weight:500 ;
        text-align: start;
        text-shadow: 3px 3px 3px rgba(0,0,0,1);
      }
    
    .tituloslider{
        font-size: 22px;
        font-weight: bold;
    }
}

@media screen and (max-width: 955px) {
    .sliderhistoria {
        color: #ffffff; 
        font-size: 16px;
        font-family: nunito;
        font-weight:500 ;
        text-align: start;
        text-shadow: 3px 3px 3px rgba(0,0,0,1);
      }
    
    .tituloslider{
        font-size: 19px;
        font-weight: bold;
    }
}

.containerclientes {
    padding: 40px;
    box-shadow: 2px 2px 10px rgba(80, 80, 80, 0.39);
}

.clientes{
    padding: 20px;
    border: rgba(131, 94, 94, 0.37) double;
}

.Nombrecliente{
    font-weight: 500;
}

.descripcioncliente{
    font-size: 18px;
}

/* ------CONTACTO------ */

.contacto1{
    margin-top: 150px;
}

.botoncontacto{
    background-color: #ffcd43;
    border-color: #fad73e;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:10px;
    color: black;
    box-shadow: 2px 2px 4px rgba(66, 66, 66, 0.2);
}